.HistoryOrders {
	width: 95%;
	height: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.HistoryOrders__statusQuery label {
	font-size: 15px;
}

.Orders__filtersItemContainer {
	width: min-content;
	background-color: white;
	border-radius: 5px;
	padding: 25px 15px;
	margin-left: 15px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Orders__filtersItemContainer div div {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 10px;
}

.Orders__filtersItemContainer > h3 {
	color: var(--dark-blue);
	margin-bottom: 10px;
}

.HistoryOrders__main {
	width: 85%;
	background-color: white;
	border-radius: 5px;
	padding: 25px 0;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.SearchGroup {
	/* background-color: rebeccapurple; */
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0 30px;
	padding: 0 20px;
}

.DatePickerContainer {
	display: flex;
	width: 350px;
}

.DateGroup {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
}

.DateGroup > p {
	color: var(--btn-blue);
}

.HistoryOrders__orderHeader {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 1.5fr;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: 40px;
	background-color: white;
	border-bottom: 1px solid var(--gray);
	gap: 5px;
}

.justifyStartItem {
	justify-self: flex-start;
}

.justifyEndItem {
	justify-self: flex-end;
}

.justifyCenter {
	justify-self: center;
}

.paddingLeft {
	padding-left: 20px;
}

.flex {
	display: flex;
	align-items: center;
}

.HistoryOrders__orderHeader div button {
	width: 10px;
	height: 10px;
}

.HistoryOrders__orderBody {
	width: 100%;
	overflow-y: scroll;
}

.HistoryOrders__paginationButton {
	margin: 5px auto;
	width: 90%;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.HistoryOrders__paginationButton button {
	height: 25px;
	width: 60px;
}

.HistoryOrders__paginationButton button:hover {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.HistoryOrders {
		flex-direction: column;
		background-image: unset;
		width: 100%;
	}

	.HistoryOrders__statusQuery {
		width: 100%;
	}

	.Orders__filtersItemContainer {
		width: 90%;
		height: auto;
		margin: 0 auto;
	}

	.Orders__filtersItemContainer > div {
		display: flex;
		justify-content: flex-start;
		overflow-x: scroll;
		gap: 20px;
	}

	.Orders__filtersItemContainer div div {
		flex-wrap: nowrap;
	}

	.HistoryOrders__main {
		width: 90%;
		margin: 20px auto 0;
	}

	.SearchGroup {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 15px 0 30px;
		padding: 0 20px;
	}

	.DatePickerContainer {
		width: fit-content;
		display: flex;
		/* flex-direction: column; */
		justify-content: flex-end;
		align-items: flex-end;
		gap: 20px;
	}

	.DateGroup {
		width: fit-content;
		display: flex;
		align-items: center;
		gap: 10px;
	}

	.DateGroup > p {
		font-size: 18px;
		color: var(--btn-blue);
	}

	.HistoryOrders__orderHeader {
		width: 100%;
		justify-items: center;
		padding: 0;
	}
	.HistoryOrders__orderHeader h5 {
		font-size: 12px;
	}

	.justifyStartItem {
		justify-self: unset;
	}

	.justifyEndItem {
		justify-self: unset;
	}

	.paddingLeft {
		padding-left: unset;
	}
}

@media screen and (max-width: 480px) {
	.SearchGroup {
		margin: 20px 0 35px;
	}
	.DatePickerContainer {
		width: 50%;
		flex-direction: column;
	}
}
