.flexCol {
	display: flex;
	flex-direction: column;
}

.flexRow {
	display: flex;
}

.ScheduleModal__container {
	gap: 20px;
	width: 350px;
}

.titleGap {
	margin-bottom: 10px;
}

.mealLabels {
	border: 1px solid var(--btn-blue);
	color: var(--dark-blue);
	white-space: nowrap;
	font-size: 14px;
	border-radius: 5px;
	display: inline-block;
	width: 45px;
	text-align: center;
	padding: 5px 0;
	margin: 5px 10px 5px 10px;
}

.radios {
	display: none;
}

.itemGroup {
	/* flex-wrap: wrap; */
	overflow-x: scroll;
}

.labels {
	border: 1px solid var(--btn-blue);
	color: var(--dark-blue);
	white-space: nowrap;
	font-size: 14px;
	padding: 10px;
	border-radius: 5px;
	margin: 5px 10px 5px 10px;
}

.ScheduleModal__container input[type="radio"]:checked ~ .labelsChecked {
	background-color: var(--light-btn-blue);
	color: white;
	font-weight: 500;
}

.timeGroup {
	gap: 20px;
}

.timeTitle {
	gap: 15px;
	align-items: center;
	margin-bottom: 20px;
}

.time {
	margin-left: 10px;
}

.timeTitle p {
	font-size: 12px;
	color: var(--dark-gray);
}

.Form__bottomCheckbox {
	gap: 10px;
	align-items: center;
	/* margin-left: 10px; */
}

.footer > button {
	height: 35px;
	width: 100%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	/* Titles and hour radio font */
	.ScheduleModal__container {
		width: 450px;
		gap: 50px;
	}

	.ScheduleModal__container h3 {
		font-size: 25px;
	}

	.titleGap {
		margin-bottom: 15px;
	}

	.mealLabels {
		font-size: 30px;
		width: 70px;
		margin: 10px;
	}

	.labels {
		font-size: 30px;
		margin: 10px;
	}

	.timeTitle {
		align-items: center;
		margin-bottom: 20px;
	}

	.time {
		margin-left: 10px;
	}

	.timeTitle p {
		font-size: 18px;
		color: var(--dark-gray);
	}

	.Form__bottomCheckbox {
		gap: 10px;
		align-items: center;
		/* margin-left: 10px; */
	}

	.Form__bottomCheckbox > input {
		width: 20px;
		height: 20px;
	}

	.Form__bottomCheckbox > label {
		font-size: 20px;
	}

	.footer > button {
		height: 50px;
		width: 100%;
		font-size: 20px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 480px) {
	/* Titles and hour radio font */
	.ScheduleModal__container {
		width: 290px;
		gap: 30px;
	}

	.ScheduleModal__container h3 {
		font-size: 20px;
	}

	.mealLabels {
		font-size: 18px;
		width: 40px;
		margin: 10px;
	}

	.labels {
		font-size: 18px;
		margin: 5px 10px;
	}

  .Form__bottomCheckbox > input {
		width: 20px;
		height: 20px;
	}

	.Form__bottomCheckbox > label {
		font-size: 16px;
	}
}
