.links {
	text-decoration: underline;
	font-size: 12px;
	color: var(--dark-blue);
}

.Signin__Input {
	text-indent: 10px;
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.Signin__Input {
		height: 60px;
		font-size: 18px;
	}

	.SignIn__Button > button {
		height: 60px;
	}

	.Remember__Me label {
		font-size: 18px;
	}

	.links {
		font-size: 14px;
	}
}

@media screen and (max-width: 480px) {
	.Signin__Input {
		height: 40px;
		font-size: 16px;
	}

	.SignIn__Button > button {
		height: 40px;
	}

	.links {
		font-size: 12px;
	}
}
