.DashMenuMobile {
	background-color: var(--nav-blue);
	color: white;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
	position: fixed;
	padding-top: 80px;
}

.DashMenuMobile_closeIconContainer {
	position: absolute;
	right: 15px;
}

.DashMenuMobile_CenterContainer {
	width: 60%;
	margin: 0 auto;
}

.DashMenuMobile_TitleContainer {
	margin: 40px 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.DashMenuMobile_Logo {
	margin-bottom: 25px;
}

.DashMenuMobile_UserName {
	margin-top: 20px;
}

.DashMenuMobile_Menu {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 10px;
	padding: 10px 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	width: 150px;
}

.DashMenuMobile_MenuItems:hover {
	cursor: pointer;
}

.DashMenuMobile li {
	list-style: none;
}

.Logout_Container {
	display: flex;
	align-items: center;
	width: 150px;
	margin: 0 auto;
	margin-bottom: 50px;
	gap: 5px;
}

.DashMenuMobile_Logout {
	color: white;
	font-size: smaller;
	margin-left: 10px;
}

@media screen and (min-width: 768px) {
	.DashMenuMobile {
		display: none;
	}
}
