@media screen and (min-width: 769px) {
	.Layout {
		display: flex;
		/* background-color: red; */
		height: 100vh;
	}

	.Layout__Main {
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: var(--bg-blue);
	}

	.Layout__Main > main {
		height: 95%;
		/* background-color: red; */
		overflow-y: scroll;
	}
}

@media screen and (max-width: 768px) {
	.Layout__Main {
		padding-top: 50px;
	}
}
