.Box {
	background-color: var(--dark-orange);
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes pulse {
	0% {
		background-color: var(--orange);
	}

	100% {
		background-color: var(--dark-orange);
	}
}

.BoxContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	gap: 50px;
}

.BoxContent:hover {
	cursor: pointer;
}

.BoxDescription {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.BoxContent h1 {
	font-size: 180px;
	color: white;
	border-radius: 50%;
	padding: 10px 65px;
	background-color: var(--orange);
	animation-name: order;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes order {
	0% {
		background-color: var(--dark-orange);
	}

	100% {
		background-color: var(--orange);
	}
}

.BoxContent h2 {
	font-size: 40px;
	color: white;
}

.BoxContent p {
	font-size: 25px;
	color: black;
}

@media screen and (min-width: 769px) {
	.Layout {
		display: flex;
		/* background-color: red; */
		height: 100vh;
	}

	.Layout__Main {
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: var(--bg-blue);
	}

	.Layout__Main > main {
		height: 95%;
		/* background-color: red; */
		overflow-y: scroll;
	}
}

@media screen and (max-width: 768px) {
	.Layout__Main {
		padding-top: 50px;
	}
}
