.Account {
	width: 100%;
	/* background-color: rgba(240, 248, 255, 0.514); */
	padding: 45px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.Account label {
	color: var(--gray);
	font-size: 14px;
}

.Account input {
	height: 40px;
	width: 100%;
	text-indent: 10px;
}

.Account input::-webkit-outer-spin-button,
.Account input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.Account input[type="number"] {
	-moz-appearance: textfield;
}

.Account textarea {
	width: 100%;
	text-indent: 10px;
}

.Account > div {
	display: flex;
	flex-direction: column;
}

.InfoContainer {
	background-color: white;
	border-radius: 5px;
	padding: 25px 15px;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.InfoContainer h3 {
	margin-bottom: 10px;
}

.Account__FlexLR {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 20px;
}

.Account__FlexColumn {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 40px;
}

.Account__FlexColumn p {
	color: var(--gray);
}

.Account__FlexLeft {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.Account__FlexRight {
	width: 50%;
}

.Business__bot {
	display: flex;
	gap: 20px;
}

.Business__bot div {
	width: 100%;
}

@media screen and (max-width: 768px) {
	.Account__FlexLR {
		flex-direction: column;
	}

	.Account__FlexLeft {
		width: 100%;
	}

	.Account__FlexRight {
		width: 100%;
		margin-bottom: 40px;
	}

	.Account__FlexColumn {
		margin: unset;
	}

	.Business__bot {
		flex-direction: column;
		margin-bottom: 40px;
	}
}

/* 							<div className={styles.Dashboard__legend}>
								<p>Status</p>
								<ClickAwayListener
									onClickAway={() => setShowOrderStatus(false)}
								>
									<div>
										<IconButton
											id={"orderStatus"}
											onClick={() => handleStatusClick("orderStatus")}
										>
											<HelpOutlineIcon className={styles.Dashboard__helpIcon} />
										</IconButton>
										{showOrderStatus && (
											<div className={styles.Dashboard__clickAwayLegend}>
												<p style={{ color: "var(--orange)" }}>| Pending</p>
												<p style={{ color: "var(--green)" }}>| Active</p>
												<p style={{ color: "var(--dark-blue)" }}>| Completed</p>
												<p style={{ color: "var(--red)" }}>| Cancelled</p>
												<p style={{ color: "var(--red)" }}>| Declined</p>
												<p style={{ color: "var(--red)" }}>| No Show</p>
											</div>
										)}
									</div>
								</ClickAwayListener>
							</div> */

/* 						<div className={styles.Dashboard__legendMobile}>
							<p>Status</p>
							<ClickAwayListener
								onClickAway={() => setShowOrderStatusMobile(false)}
							>
								<div>
									<IconButton
										id={"orderStatus"}
										onClick={() => handleStatusClickMobile("orderStatus")}
									>
										<HelpOutlineIcon
											className={styles.Dashboard__helpIconMobile}
										/>
									</IconButton>
									{showOrderStatusMobile && (
										<div className={styles.Dashboard__clickAwayLegendMobile}>
											<p style={{ color: "var(--orange)" }}>| Pending</p>
											<p style={{ color: "var(--green)" }}>| Active</p>
											<p style={{ color: "var(--dark-blue)" }}>| Completed</p>
											<p style={{ color: "var(--red)" }}>| Cancelled</p>
											<p style={{ color: "var(--red)" }}>| Declined</p>
											<p style={{ color: "var(--red)" }}>| No Show</p>
										</div>
									)}
								</div>
							</ClickAwayListener>
						</div> */

/* 							<div className={styles.Dashboard__legend}>
								<p>Status</p>
								<ClickAwayListener onClickAway={() => setShowPostStatus(false)}>
									<div>
										<IconButton onClick={() => handleStatusClick("postStatus")}>
											<HelpOutlineIcon className={styles.Dashboard__helpIcon} />
										</IconButton>
										{showPostStatus && (
											<div className={styles.Dashboard__clickAwayLegend}>
												<p style={{ color: "var(--green)" }}>| Live</p>
												<p style={{ color: "var(--red)" }}>| Sold Out</p>
												<p style={{ color: "var(--gray)" }}>
													Exp: does not recur
												</p>
												<p style={{ color: "var(--dark-blue)" }}>
													Recur: recurring
												</p>
											</div>
										)}
									</div>
								</ClickAwayListener>
							</div> */

/* 						<div className={styles.Dashboard__legendMobile}>
							<p>Status</p>
							<ClickAwayListener
								onClickAway={() => setShowPostStatusMobile(false)}
							>
								<div>
									<IconButton
										onClick={() => handleStatusClickMobile("postStatus")}
									>
										<HelpOutlineIcon
											className={styles.Dashboard__helpIconMobile}
										/>
									</IconButton>
									{showPostStatusMobile && (
										<div className={styles.Dashboard__clickAwayLegendMobile}>
											<p style={{ color: "var(--green)" }}>| Live</p>
											<p style={{ color: "var(--red)" }}>| Sold Out</p>
											<p style={{ color: "var(--gray)" }}>
												Exp: does not recur
											</p>
											<p style={{ color: "var(--dark-blue)" }}>
												Recur: recurring
											</p>
										</div>
									)}
								</div>
							</ClickAwayListener>
						</div> */
