.OrderHistoryTabComponent {
	display: grid;
	grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr 1fr 1.5fr;
	align-items: center;
	justify-items: center;
	width: 100%;
	background-color: white;
	padding: 15px 0;
	gap: 10px;
	border-bottom: 1px solid var(--light-gray);
}

.OrderHistoryTabComponent p {
	font-size: 12px;
	color: var(--dark-gray);
}

.justifyStartItem {
	justify-self: flex-start;
}

.justifyEndItem {
	justify-self: flex-end;
}

.justifyCenter {
	justify-self: center;
}

.textAlignCenter {
	text-align: center;
}

.paddingLeft {
	padding-left: 20px;
}

@media screen and (max-width: 768px) {
	.OrderHistoryTabComponent {
		justify-items: center;
	}

	.OrderHistoryTabComponent p {
		font-size: 12px;
		width: fit-content;
		text-align: center;
	}

	.justifyStartItem {
		justify-self: unset;
	}

	.justifyEndItem {
		justify-self: unset;
	}

	.paddingLeft {
		padding-left: unset;
	}
}

@media screen and (max-width: 480px) {
	.OrderHistoryTabComponent p {
		font-size: 9px;
		width: fit-content;
		text-align: center;
	}
}
