.BoxHeight {
	height: 55vh;
	overflow-y: scroll;
}

.PickupTime {
	margin: 20px 0 10px 0;
	font-weight: 400;
	color: black;
	border-radius: 5px;
	border-right: 3px solid var(--flash);
	border-left: 3px solid var(--flash);
	background-color: var(--light-red);
	width: fit-content;
	padding: 5px;
}

.RemoveSchedule {
	margin-bottom: 20px;
}

.NoPosts {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	.RemoveSchedule__Container {
		width: 450px;
	}

	.RemoveSchedule {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 480px) {
	.RemoveSchedule__Container {
		width: 290px;
	}

	.RemoveSchedule {
		margin-bottom: 10px;
	}
}
