.paymentHistoryTab {
	font-size: 12px;
	color: var(--dark-gray);
}

.flexRow {
	display: flex;
}

.flexCol {
	display: flex;
	flex-direction: column;
}

.gridHeader {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	width: 100%;
	height: min-content;
	border-bottom: 1px solid var(--light-gray);
	gap: 10px;
	padding: 15px 0;
}

.gridHeader p {
	font-size: 14px;
}

.justifyStartItem {
	justify-self: flex-start;
}

.justifyEndItem {
	justify-self: flex-end;
}

.justifyCenter {
	justify-self: center;
}

.paddingLeft {
	padding-left: 20px;
}

@media (hover: hover) {
	.paymentHistoryTab:hover {
		cursor: pointer;
		background-color: var(--light-blue);
	}
}

@media screen and (max-width: 768px) {
	.gridHeader p {
		font-size: 14px;
	}
}

@media screen and (max-width: 480px) {
	/* .css-19kzrtu {
		padding: 0;
		margin: 0;
		box-sizing: none;
	} */

	.gridHeader {
		gap: 0;
	}

	.gridHeader p {
		font-size: 8px;
		width: min-content;
		text-align: center;
	}
}
