.payoutOrderTabs {
	padding-bottom: 15px;
	border-bottom: 1px solid var(--light-gray);
}

.payoutOrderTabs p {
	font-size: 12px;
}

.orderId {
	word-wrap: break-word;
}

.gridSix {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.gridItem {
	text-align: center;
}

@media screen and (max-width: 480px) {
	.payoutOrderTabs p {
		font-size: 10px;
	}

	.gridSix {
		grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
	}
}
