:root {
	--nav-blue: rgb(5, 19, 48);
	--bg-blue: rgba(247, 251, 255, 0.514);
	--dark-bg-blue: rgb(248, 252, 255);
	--light-blue: #eef2ff;
	--med-blue: #cddeff;
	--dark-blue: #393e6e;
	--btn-blue: #4285f4;
	--light-btn-blue: #6ba0f5;
	--dark-btn-blue: #557bb8;
	--dark-red: #611f1f;
	--red: #db4437;
	--light-red: #f7a7a7;
	--hover-green: #5efdb3;
	--light-green: #46c990;
	--green: #0f9d58;
	--dark-green: #0c7440;
	--light-orange: #ffd49b;
	--orange: #ffb24e;
	--orange2: rgb(167, 114, 45) e;
	--dark-orange: #fd9207;
	--dark-orange2: rgb(94, 53, 0) 7;
	--flash: rgb(255, 0, 0);
	--flash-bg: #fffda3;
	--gray: #a3a3a3;
	--light-gray: #d8d8d8;
	--dark-gray: #5a5a5a;
	--bg-gray: #fafafa;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

textarea {
	font-family: "Roboto", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 10px;
	margin-left: 10px;
}
